In [45]:
import pandas as pd

test = pd.read_csv("../data/dataset/test2.csv")
train = pd.read_csv("../data/dataset/train_update.csv")
validation = pd.read_csv("../data/dataset/validation2.csv")

validation.value_counts("label")


# pd.concat([test, pd.get_dummies(test["label"])], axis=1).drop(columns=["label"]).rename(
#     columns={"msg": "text"}
# ).to_csv("../data/dataset/test2_updated.csv", index=False)
# pd.concat([train, pd.get_dummies(train["label"])], axis=1).drop(
#     columns=["label"]
# ).rename(columns={"msg": "text"}).to_csv(
#     "../data/dataset/train2_updated.csv", index=False
# )
# pd.concat([validation, pd.get_dummies(validation["label"])], axis=1).drop(
#     columns=["label"]
# ).rename(columns={"msg": "text"}).to_csv(
#     "../data/dataset/validation2_updated.csv", index=False
# )

label
0    450
1    450
2    450
3    450
4    450
dtype: int64

In [44]:
train.to_csv(
    "../data/dataset/train_update.csv", index=False
)

In [18]:
import re
train.msg = train.msg.apply(lambda x: 0 if isinstance(x,str) else x)
train.value_counts()

label  msg
0      0.0    2100
1      0.0    2100
2      0.0    2100
4      0.0    2100
3      0.0    2099
dtype: int64

In [24]:
train[train.msg.isna()].msg = "4 stars dahil hindi nasunod yung color na napili at wala sa choicessuggest ko po kay seller add choices ng colors, chat si buyer na hindi available color, maganda tela makapal naman. pang girl siya. sizing was true measure muna waistline para sure sa oordering size. di yung isisisi kay seller"

C:\Users\Neilc\AppData\Local\Temp\ipykernel_4252\3508538078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[train.msg.isna()].msg = "4 stars dahil hindi nasunod yung color na napili at wala sa choicessuggest ko po kay seller add choices ng colors, chat si buyer na hindi available color, maganda tela makapal naman. pang girl siya. sizing was true measure muna waistline para sure sa oordering size. di yung isisisi kay seller"

In [41]:
train.at[823,"text"] = "4 stars dahil hindi nasunod yung color na napili at wala sa choicessuggest ko po kay seller add choices ng colors, chat si buyer na hindi available color, maganda tela makapal naman. pang girl siya. sizing was true measure muna waistline para sure sa oordering size. di yung isisisi kay seller"

In [46]:
train[train.text.isna()]

Empty DataFrame
Columns: [text, 0, 1, 2, 3, 4]
Index: []

In [47]:
train

                                                    text  0  1  2  3  4
0      A cute niya umiilaw nman siya. I will order ag...  0  0  0  0  1
1      First time order sa shop nato at di ko inakala...  0  0  0  0  1
2      Madaling masira yung sa may sinisintasan nya. ...  0  0  1  0  0
3      Maganda naman sya mas malaki lang sa ineexpect...  0  0  0  0  1
4      All goods na tester q 1. 2v ngalang pro ok Nam...  0  0  0  0  1
...                                                  ... .. .. .. .. ..
10495  Kulang ng isa order namen i wont recommend thi...  1  0  0  0  0
10496  Medyo matagal dumating, but okay naman and amo...  0  0  0  1  0
10497  Fast delivery i thought malakas sia, mahina pa...  0  0  1  0  0
10498  ok sana yung shade maganda but too creamy lang...  0  1  0  0  0
10499  Maganda ung quality ng items laptop case bluet...  0  0  1  0  0

[10500 rows x 6 columns]